<table class="book-table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>著者</th>
      <th>ISBN</th>
      <th>カテゴリ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @book.title %></td>
      <td><%= @book.author %></td>
      <td><%= @book.isbn %></td>
      <td><%= @book.category %></td>
    </tr>
  </tbody>
</table>
